.header {
  display: flex;
  justify-content: center;
  height: 64px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.12);
  background-color: #fff;

  .headerMain {
    width: 1200px;
    display: flex;
    justify-content: space-between;
  }

  .title {
    line-height: normal;
    font-size: 20px;
    color: #333;
  }
}
